*{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color:White;
}
body{
  background-color:DarkGray;
}
button{
  font-size: 25px;
  font-family: "Lucida Console", monospace;
  background-color:Black;
  color:Green;
  align:center;
}
