*{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color:White;
}
body{
  background-color:DarkGray;
}
button{
  font-size: 25px;
  font-family: "Lucida Console" !important, monospace !important;
  background-color:Black;
  color:Green;
  align:center;
}
.window {
    border-image:  url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFQAAABUCAYAAAAcaxDBAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAAVKADAAQAAAABAAAAVAAAAAC3aM1AAAAB/klEQVR4Ae3cMU7EQBBEUYxIff+D+gAgkVU5GI1+szLwyQrv1NrP4waC5TjP8/PNrzGB97Emi74FBB3eCIIOg35033VdR3/vL+f+GdLXv3vcHTq8WwQVdFhguO7oGUH7d2cQfb/p9e3R19Pv16/3kW8hmAWFgL1c0BaBefl7aM+I1Uzp89l9fa//6by6vtXxPj93aIvALCgE7OWCtgjMtxm629czZnf9016/up7VcXfo8B0VVNBhgeG629/yT/+9cfj6cV3PVB95TJoFgqYHToJiwiwQND1wEhQTZoGg6YGToJgwCwRND5wExYRZIGh64CQoJswCQdMDJ0ExYRYImh44CYoJs0DQ9MBJUEyYBYKmB06CYsIsEDQ9cBIUE2aBoOmBk6CYMAsETQ+cBMWEWSBoeuAkKCbMAkHTAydBMWEWCJoeOAmKCbNA0PTASVBMmAWCpgdOgmLCLBA0PXASFBNmgaDpgZOgmDALBE0PnATFhFkgaHrgJCgmzAL8efms+/2pP7vZn33t433F7tAWgVlQCNjLBW0RmJcztGfGaqb0cXh+L1/e5797/e7Q4VsmqKDDAsN1yxm6O1OGz+/ldbszs0/QR75FYBYUAvZyQVsE5uX/bdqdKT1z4fk9fnn7uEOHb5mggg4LDNfdZuhw/7+r85EfvuWCCjosMFz3BW/wZLpgh727AAAAAElFTkSuQmCC") 28 /  28px / 0 round;
    border-width:  28px;
    border-style:  solid;
}
